<html>
<head>
</head>

<body>
  <div #mapViewNode></div>

  <div class="topnav" *ngIf="seller != null">
    <a class="active" href="seller-basemap" onclick="resetBasemap()">Home</a>
    <b class="title">EasyDrop</b>
    <a class="subtitle">Seller</a>
    <a class="logout" href="login" onclick="">Log out</a>
    <a class="logged_user"> User: {{seller.userName}}</a>
  </div>

  <!-- ADD STOREHOUSE LOGIC -->
  <button type="button" class="add_store_button"
          onclick="document.getElementById('storehouse_form').style.display = 'block'
                   document.getElementById('storehouse_form').style.border = '5px solid #f1f1f1'">Add Storehouse</button>
  <form #addStorehouseForm="ngForm"
        (ngSubmit)="onSubmitStorehouse(addStorehouseForm.value)">
    <div id='storehouse_form' class="container" style="display: none; border:0">
      <a style="display: inline; margin-left: 10px;
                font-size: x-large; font-weight:bold"> Complete the fields to add the Store</a>

      <span onclick="this.parentElement.style.display='none';
                     this.parentElement.style.border='0px';
                     document.getElementById('name').value = '';
                     document.getElementById('address').value = '';
                     document.getElementById('x_coord').value = '';
                     document.getElementById('y_coord').value = '';
                     document.getElementById('imgurl').value = '';
                    " class="closebtn"
      style="text-align: right; font-size: 45px; display: inline;  float:right">
        &times;
      </span>
      <br><br>

      <label for="name" style="font-weight:bold; margin-left: 10px">Name</label>
      <span class="asterisk_input">  </span>
      <input type="text" id="name" placeholder="Enter a storehouse name" name="storehouseName" ngModel required>

      <label for="address" style="font-weight:bold; margin-left: 10px">Address</label>
      <span class="asterisk_input">  </span>
      <input type="text" id="address" placeholder="Enter the storehouse address" name="storehouseAddress" ngModel required>

      <label for="x_coord" style="font-weight:bold; margin-left: 10px">Longitude (X)</label>
      <span class="asterisk_input">  </span>
      <input type="number" id="x_coord" placeholder="Enter the storehouse longitude" name="xcoord" ngModel required>

      <label for="y_coord" style="font-weight:bold; margin-left: 10px">Latitude (Y)</label>
      <span class="asterisk_input">  </span>
      <input type="number" id="y_coord" placeholder="Enter the storehouse latitude" name="ycoord" ngModel required>

      <label for="imgurl" style="font-weight:bold; margin-left: 10px">Image URL</label>
      <input type=text id="imgurl" placeholder="Enter the image URL (optional)" name="imgURL" ngModel>

      <button type="submit" class="storehouse_submit_button" style="font-weight:bold; font-size: medium"
              onclick="this.parentElement.style.display='none'; this.parentElement.style.border='0px'
                      document.getElementById('name').value = '';
                      document.getElementById('address').value = '';
                      document.getElementById('x_coord').value = '';
                      document.getElementById('y_coord').value = '';
                      document.getElementById('imgurl').value = '';
                      ">Submit</button>

    </div>
  </form>

  <!-- ADD PRODUCT LOGIC -->
  <button type="button" class="add_product_button"
          onclick="document.getElementById('add_product_form').style.display = 'block'
                   document.getElementById('add_product_form').style.border = '5px solid #f1f1f1'">Add Product</button>
  <form #addProductForm="ngForm"
        (ngSubmit)="onSubmitProduct(addProductForm.value)">
    <div id='add_product_form' class="container" style="display: none; border:0">
      <a style="display: inline; margin-left: 10px;
                font-size: x-large; font-weight:bold"> Complete the fields to add a Product</a>

      <span onclick="this.parentElement.style.display='none';
                     this.parentElement.style.border='0px';
                     document.getElementById('storehouseName').value = '';
                     document.getElementById('productName').value = '';
                     document.getElementById('productDescription').value = '';
                     document.getElementById('productPrice').value = '';
                    " class="closebtn"
            style="text-align: right; font-size: 45px; display: inline;  float:right">
        &times;
      </span>
      <br><br>

      <label for="store_name" style="font-weight:bold; margin-left: 10px">Store Name</label>
      <span class="asterisk_input">  </span>
      <input type="text" id="store_name" placeholder="Enter a storehouse name" name="storehouseName" ngModel required>

      <label for="product_name" style="font-weight:bold; margin-left: 10px">Name</label>
      <span class="asterisk_input">  </span>
      <input type="text" id="product_name" placeholder="Enter the product name" name="productName" ngModel required>

      <label for="product_description" style="font-weight:bold; margin-left: 10px">Description</label>
      <span class="asterisk_input">  </span>
      <input type="text" id="product_description" placeholder="Enter the the product description" name="productDescription" ngModel required>

      <label for="product_price" style="font-weight:bold; margin-left: 10px">Price</label>
      <span class="asterisk_input">  </span>
      <input type="number" id="product_price" placeholder="Enter the product price" name="productPrice" ngModel required>

      <button type="submit" class="storehouse_submit_button" style="font-weight:bold; font-size: medium"
              onclick="this.parentElement.style.display='none'; this.parentElement.style.border='0px'
                      document.getElementById('storehouseName').value = '';
                      document.getElementById('productName').value = '';
                      document.getElementById('productDescription').value = '';
                      document.getElementById('productPrice').value = '';
                      ">Submit</button>
    </div>
  </form>


  <!-- SEE PRODUCTS LOGIC -->
  <button type="button" class="see_products_button"
          onclick="document.getElementById('see_products').style.display = 'block'
                   document.getElementById('see_products').style.border = '5px solid #f1f1f1'">See Products</button>
  <div  id='see_products' class="see_products_container" style="display: none; border:0">
    <a style="display: inline; margin-left: 10px;
                font-size: x-large; font-weight:bold; text-align: center"> Select a Storehouse</a>

    <span onclick="this.parentElement.style.display='none';
                     this.parentElement.style.border='0px';
                    document.getElementById('imgAfi').style.display='none'
                " class="closebtn"
          style="text-align: right; font-size: 45px; display: inline;  float:right">
        &times;
      </span>
    <br><br>

    <div *ngIf="seller.userName=='ALTEX'" style="width: 180px; overflow: hidden;">
      <select style="width: auto;" name="abc" id="altex_select" onchange="
            document.getElementById('imgAfi').style.display = 'block'
         ">
        <option value="Altex AFI Cotroceni">Altex AFI Cotroceni</option>
        <option value="Altex Militari">Altex Militari</option>
        <option value="Altex Plaza Romania">Altex Plaza Romania</option>
        <option value="Altex Park Lake">Altex Park Lake</option>
        <option value="Altex Vulcan">Altex Vulcan</option>
        <option value="Altex Promenada">Altex Promenada</option>
        <option value="Altex Sun Plaza">Altex Sun Plaza</option>
        <option value="Altex Colosseum">Altex Colosseum</option>
        <option value="Altex Colentina">Altex Colentina</option>
      </select>

      <div id="imgAfi" style="display:none">
        <img [src]="altexAfiPImg[0].path" style="width:100px">
        <img [src]="altexAfiPImg[1].path" style="width:100px">
        <img [src]="altexAfiPImg[2].path" style="width:100px">
        <img [src]="altexAfiPImg[3].path" style="width:100px">
      </div>
    </div>

    <!-- TODO -->
    <div *ngIf="seller.userName=='FLANCO'" style="width: 180px; overflow: hidden;">
      <select style="width: auto;" name="abc" id="11">
        <option value="Flanco Drumul Taberei">Flanco Drumul Taberei</option>
        <option value="Flanco Lujerului">Flanco Lujerului</option>
        <option value="Flanco Tineretului">Flanco Tineretului</option>
        <option value="Flanco Orhideea">Flanco Orhideea</option>
        <option value="Flanco Veranda Mall">Flanco Veranda Mall</option>
        <option value="Flanco Bucuresti Titan">Flanco Bucuresti Titan</option>
        <option value="Altex Sun Plaza">Flanco Voluntari</option>
      </select>

    </div>

    <!-- TODO -->
    <div *ngIf="seller.userName=='EMAG'" style="width: 180px; overflow: hidden;">
      <select style="width: auto;" name="abc" id="12">
        <option value="Emag Crangasi">Emag Crangasi</option>
        <option value="Emag Baneasa">Emag Baneasa</option>
        <option value="Flanco Tineretului">Emag Galeriile Titan</option>
      </select>
    </div>

    <div *ngIf="seller.userName=='STORE'" style="width: 180px; overflow: hidden;">
      <select style="width: auto;" name="abc" id="13">
        <option value="Adidas">Adidas</option>
        <option value="Carturesti Verona">Carturesti Verona</option>
        <option value="Fossil Mega Malli">Fossil Mega Mall</option>
      </select>
    </div>



  </div>

</body>
</html>
